.product-list {
	margin-top: calc(var(--height-header) + 1rem);
	margin-left: var(--width-sidebar);
	max-width: var(100vw - var(--width-sidebar));
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
