/* TODO: Add constants for colors, padding, margin, fixed sizes of layout */
:root {
	--clr-primary: #2874f0;
	--clr-white: #fff;
	--clr-yellow: #ffe500;
	--clr-overlay: #0000005e;
	--clr-grey: #7e7e7e;
	--clr-green: #47f347;
	--clr-red: #f54646;
	--height-header: 3rem;
}

/* Utilities */
.inline-flex {
	display: inline-flex;
}
